*.DS_Store
*.swp

build/*

ext/zlib-ng/src/
ext/zlib-ng/build/
ext/zlib-ng/tmp/

ext/htslib/tmp/
ext/htslib/src/

*.pyc

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
CTestTestfile.cmake
*~
*.orig
debug/
release/
.snakemake
src/.Rhistory
